<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XX系统 - 租户信息详情查看</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/renter/detail.js"></script>
</head>
<body>
<div class="box">
    <h3>租户信息详情</h3>
    <form action="#" method="post">
        <table class="form-table">
            <tr>
                <td class="label">租户姓名</td>
                <td class="detail" id="name">
                    张三
                </td>
            </tr>
            <tr>
                <td class="label">租户手机号</td>
                <td colspan="3" class="detail" id="phoneNumber">
                    1485466
                </td>
            </tr>
            <tr>
                <td class="label">性别</td>
                <td colspan="3" class="detail" id="sex">
                    男
                </td>
            </tr>
            <tr>
                <td class="label">籍贯</td>
                <td colspan="3" class="detail" id="nativePlace">
                    郑州
                </td>
            </tr>
            <tr>
                <td class="label">身份证号</td>
                <td colspan="3" class="detail" id="idNumber">
                    154654
                </td>
            </tr>

        </table>
        <div class="buttons">
            <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
        </div>
    </form>
</div>
</body>
</html>