<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XX系统 - 租户信息详情查看</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/lease/detail.js"></script>
</head>
<body>
<div class="box">
    <h3>租户信息详情</h3>
    <form action="#" method="post">
        <table class="form-table">
            <tr>
                <td class="label">租户信息</td>
                <td class="detail" id="renterId">
                    张三
                </td>
            </tr>
            <tr>
                <td class="label">房屋信息</td>
                <td colspan="3" class="detail" id="houseId">
                    天界
                </td>
            </tr>
            <tr>
                <td class="label">首付</td>
                <td colspan="3" class="detail" id="amount">
                    3000
                </td>
            </tr>
            <tr>
                <td class="label">添加时间</td>
                <td colspan="3" class="detail" id="createTime">
                    2018-04-16 12:20:00
                </td>
            </tr>
            <tr>
                <td class="label">备注</td>
                <td colspan="3" class="detail" id="remark\">
                高端大气上档次
                </td>
            </tr>

        </table>
        <div class="buttons">
            <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
        </div>
    </form>
</div>
</body>
</html>